body{
  background-color: #EBF3F8;
  font-family: "Poppins";
}

#blogs{
  text-align: center;
}

button{
  padding: auto;
  margin: auto;
  text-align: center;
  width: 395px;
  left: 523px;
  top: 1115px;
  height: 69px;
  bottom: 10px;
  border-radius: 10px;
}

#medium1{
  margin:50px;
  width: 575px;
  left: 25px;
  top: 70px;
  border-radius: 25px;
  height: 350px;
}

#medium2{
  margin:50px;
  width: 575px;
  left: 25px;
  top: 70px;
  border-radius: 25px;
  height: 350px;
}  

.card{
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

.card:hover{
  transform: scale(1.05);
}

